*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header{
    background-color: #13599A;
    height: 68px;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

.menu_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.Header_logo{
    width: 100x;
    height: 70px;
}

.menu_header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family:  'Roboto', sans-serif;
    font-size: 18px;
}

.container_header_a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 590px;
}
main{
    margin-top: 68px;
}

.container_participar{
    height: 674px;
    background-image: url(../img/Banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.cor_{
    background: rgba(0, 0, 0, 0.17);
    height: 100%;
}


footer{
    background-color: #13599A;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -4px;
}

.container_footer{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-left: 35px;
}

.container_footer a{
    text-decoration: none;
    color:white;
}

img{
    height: 40px;
}

.span1{
    padding-left: 200px;
}

.img_footer{
    padding-right: 260px;
}

